// .portfolio {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   height: 70vh;
//   width: 90%;
//   margin: 0 auto;

//   span:nth-of-type(1) {
//     color: var(--black);
//     font-size: 2rem;
//     font-weight: bold;
//   }

//   span:nth-of-type(2) {
//     color: var(--orange);
//     font-size: 2.5rem;
//     font-weight: bold;
//   }
// }
// /*slider*/

// // .portfolio .swiper {
// //   overflow: visible !important;
// // }

// .portfolio-slider {
//   margin-top: 3rem;
//   width: 100%;
// }

// .portfolio-slider .swiper-slide {
//   width: 20rem;
// }

// .portfolio img {
//   width: 30rem;
//   filter: drop-shadow(-12px 15px 13x rgba(0, 0, 0, 0.25));
//   border-radius: 5px;
// }

// @media screen and (max-width: 480px) {
//   .portfolio .swiper {
//     overflow: visible !important;
//   }

//   .portfolio-slider {
//     margin-top: 3rem;
//     width: 100%;
//   }

//   .portfolio-slider .swiper-slide {
//     width: 20rem;
//   }

//   .portfolio img {
//     width: 19rem;
//     filter: drop-shadow(-12px 15px 13x rgba(0, 0, 0, 0.25));
//     border-radius: 19px;
//   }
// }

.portfolio {
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
